---
layout: default
title: About
permalink: /about/
---

{% include banner.html %}

{% include header.html %}

<div class="about section">
  <div class="container">
    <h2>About</h2>
    <div class="row justify-content-md-center">
      <div class="col-md-9">
        <p>The Smart Sea Level Sensors Project aims to install a network of 50-100 internet-enabled water level sensors across flood-vulnerable Chatham County, via a working partnership between officials from the Chatham Emergency Management Agency (CEMA) and the City of Savannah, together with a diverse team of scientists and engineers from Georgia Tech.</p>
        <p>The sensor network will stretch from Interstate 95 to Tybee Island, capturing a wide range of tributary sizes, orientation, and building densities. The data collection will be complemented by a suite of modeling tools to inform flood risk and vulnerability, including a high-resolution coastal ocean model as well as an integrated hydrological model to capture surface runoff during high precipitation events. Taken together, the framework enables the assessment of short-and long-term coastal flooding risk and vulnerability that are required to inform planning for flood mitigation strategies.</p>
        <p>This is the first project of its kind in the region, and our goal is to provide a template for expansions of this technology and community stakeholder framework to other areas of vulnerable coastline along the southeastern US.</p>
      </div>
    </div>
    
  </div>
</div>

<div class="partners section">
  <div class="container">
    <h2>Project Partners</h2>

    <div class="partner">
      <h3>Georgia Tech</h3>
      <div class="row">
        <div class="col-md-3">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Kim M. Cobb</h4>
              <p>Professor, Earth and Atmospheric Sciences</p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Russell Clark</h4>
              <p>Research Faculty, Computer Science</p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Emanuele Di Lorenzo</h4>
              <p>Professor, Earth and Atmospheric Sciences</p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">David Frost</h4>
              <p>Professor, Civil & Environmental Engineering</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Lalith Polepeddi</h4>
              <p>Research Scientist</p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Tim Cone</h4>
              <p>Program Director, CEISMC</p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Jayma Koval</h4>
              <p>Research Faculty, CEISMC</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="partner">
      <h3>Chatham Emergency Management Agency</h3>
      <div class="row">
        <div class="col-md-3">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Randall Mathews</h4>
              <p>Planner</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="partner">
      <h3>City of Savannah</h3>
      <div class="row">
        <div class="col-md-3">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Nick Deffley</h4>
              <p>Director, Office of Sustainability</p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="funders section">
  <div class="container">
    <h2>Funders</h2>
    <p>The Smart Sea Level Sensors project is supported by the following organizations.</p>
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <img src="/img/partners/ga-smart-logo.png" alt="Georgia Smart">
          <div class="card-body">
            <p>The Smart Sea Level Sensors Project is one of four projects under the Georgia Smart Communities Challenge. The strategies developed by the selected communities are meant to serve as models that could be implemented elsewhere to advance smart technology and improve community well-being across Georgia.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% include footer.html %}
