---
layout: default
title: Education
permalink: /education/
---

{% include header.html %}

<div class="education section" role="main">
  <div class="container">
    <h2>Education</h2>
    <div class="row justify-content-md-center">
      <div class="col-md-9">
        <p>Coastal communities are experiencing an increase in coastal flooding due to storms, king tides, and sea level rise. Educating students on these issues is not only a great science and math exercise, it increases informed-decision making on adapting to climate change-related trends.</p>
        <p><a href="/pdf/education/Sea-level-5E-Model-Plans-Georgia-standards.pdf" aria-label="Middle School Curriculum on climate change pdf  file">We have created a curriculum</a> for middle school students using the 5E Model of Instruction to actively investigate climate change and the phenomenon of sea level rise. In this phenomenon-based module students are transported to the Savannah/Tybee Island region to better understand how coastal flooding, tides, sea level rise and climate change are impacting these communities. Through this experience, students will learn the foundational science behind these impacts, create data visualizations, and determine methods that they can engage with to mitigate the effects of climate change.</p>
        <div class="learn-more">
          <p><a href="https://forms.gle/91TyhsnJF5bHcFh77" target="_blank" class="btn-cta">Get the curriculum</a></p>
          <p><a href="https://secoora.org/education-outreach/sea-level-rise-curriculum/" target="_blank" class="btn-cta-secondary" aria-label="More about the sea level rise curriculum">Learn more</a></p>
        </div>
      </div>
    </div>
    
  </div>
</div>

{% include footer.html %}

