---
layout: default
title: Events
permalink: /events/
---

{% include header.html %}

<div class="events section">
  <div class="container">
    <h2>Events</h2>

    <div class="upcoming">
      <h3>Upcoming events</h3>
      <p style="margin-top: 28px;">No events scheduled</p>
    </div>

    <div class="past" style="margin-top: 48px;">
      <h3>Past events</h3>
      <div class="row">
        <div class="col-md-2 event-date">
          <h5 class="date-box-prefix">Tue</h5>
          <div class="date-box">
            <h5>Oct</h5>
            <h3>15</h3>
          </div>
        </div>
        <div class="col-md-9 event-body">
          <h4 class="event-title">SECOORA Webinar Series</h4>
          <p class="event-time">Sea Level Rise Curriculum</p>
          <p class="event-description">Learn more about a curriculum we developed for middle school students to actively investigate climate change and the phenomenon of sea level rise.</p>
          <p style="margin-bottom: 0"><a href="{{ url_for('education' )}}">Learn more</a></p>
        </div>
      </div>
      
      <div class="row">
        <div class="col-md-2 event-date">
          <h5 class="date-box-prefix">Thu</h5>
          <div class="date-box">
            <h5>Aug</h5>
            <h3>01</h3>
          </div>
        </div>
        <div class="col-md-9 event-body">
          <h4 class="event-title">Aug 2019 Meeting</h4>
          <p class="event-time">GT Savannah</p>
          <p class="event-description">We had our sixth meeting to discuss project updates and plan next steps.</p>  
        </div>
      </div>
      <div class="row">
        <div class="col-md-2 event-date">
          <h5 class="date-box-prefix">Thu</h5>
          <div class="date-box">
            <h5>May</h5>
            <h3>16</h3>
          </div>
        </div>
        <div class="col-md-10 event-body">
          <h4 class="event-title">May 2019 Expo</h4>
          <p class="event-time">Jepson Center</p>
          <p class="event-description">We recapped year one of the Smart Sea Level Sensors project and discuss plans for year two.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2 event-date">
          <h5 class="date-box-prefix">Wed</h5>
          <div class="date-box">
            <h5>Mar</h5>
            <h3>27</h3>
          </div>
        </div>
        <div class="col-md-9 event-body">
          <h4 class="event-title">Mar 2019 Meeting</h4>
          <p class="event-time">GT Savannah</p>
          <p class="event-description">We had our fourth public meeting to discuss project updates and answer questions.</p>  
          <p style="margin-bottom: 0"><a href="/news/march-2019-meeting-recap">View recap</a></p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2 event-date">
          <h5 class="date-box-prefix">Tue</h5>
          <div class="date-box">
            <h5>Jan</h5>
            <h3>29</h3>
          </div>
        </div>
        <div class="col-md-9 event-body">
          <h4 class="event-title">January 2019 Meeting</h4>
          <p class="event-time">9:00 AM - 10:30 AM, Coastal Georgia Center</p>
          <p class="event-description">We had our third public meeting to discuss project updates and answer questions.</p>  
          <p style="margin-bottom: 0"><a href="/news/january-2019-meeting-recap">View recap</a></p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2 event-date">
          <h5 class="date-box-prefix">Fri</h5>
          <div class="date-box">
            <h5>Oct</h5>
            <h3>26</h3>
          </div>
        </div>
        <div class="col-md-9 event-body">
          <h4 class="event-title">October 2018 Meeting</h4>
          <p class="event-time">9:00 AM - 10:30 AM, Georgia Tech Savannah</p>
          <p class="event-description">We had our second public meeting to discuss project updates and answer questions.</p>  
          <p style="margin-bottom: 0"><a href="/news/october-2018-meeting-recap">View recap</a></p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-2 event-date">
          <h5 class="date-box-prefix">Tue</h5>
          <div class="date-box">
            <h5>Aug</h5>
            <h3>21</h3>
          </div>
        </div>
        <div class="col-md-9 event-body">
          <h4 class="event-title">August 2018 Meeting</h4>
          <p class="event-time">9:00 AM - 10:30 AM, Bull Street Labs</p>
          <p class="event-description">We had our first public meeting to discuss the project and answer questions.</p>  
          <p style="margin-bottom: 0"><a href="/news/august-2018-meeting-recap">View recap</a></p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-2 event-date">
          <h5 class="date-box-prefix">Tue</h5>
          <div class="date-box">
            <h5>May</h5>
            <h3>22</h3>
          </div>
        </div>
        <div class="col-md-9 event-body">
          <h4 class="event-title">May 2018 Meeting</h4>
          <p class="event-time">Savannah Morning News Building</p>
          <p style="margin-bottom: 0"><a href="/news/may-2018-meeting-recap">View recap</a></p>
        </div>
      </div>
    </div>

  </div>
</div>

{% include footer.html %}

