---
layout: default
title: FAQ
permalink: /faq/
---

{% include header.html %}

<div class="faq section">
  <div class="container">
    <h2>FAQ</h2>
    <div class="row">
      <div class="col-md-4">
        <p class="question">What is the goal of the project?</p>
      </div>
      <div class="col-md-8">
        <p class="answer">The main goal of the project is to provide real-time information about water levels across Chatham County to aid in emergency planning and response during episodes of flooding associated with storms, king tides, and other environmental events. The sea level data also provide a unique and important dataset to aid scientists, engineers, and regional planners in quantifying the short- and long-term risks associated with continued sea level rise.</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <p class="question">Who is involved in the project? </p>
      </div>
      <div class="col-md-8">
        <p class="answer">The project team includes Georgia Tech researchers, officials from Chatham County Emergency Management (CEMA), and officials from the City of Savannah. Drs. <a href="https://eas.gatech.edu/people/cobb-dr-kim" target="_blank" aria-label="Doctor Kim Cobb profile on Georgia Tech website">Kim Cobb</a> and <a href="https://www.cc.gatech.edu/fac/Russell.Clark/" target="_blank" aria-label="Doctor Russell Clark profile on Georgia Tech Website">Russ Clark</a> head up the Georgia Tech team, <a href="https://www.chathamemergency.org/About/StaffBio?name=Randall%20Mathews" target="_blank" aria-label="Randall Mathews profile on Chatham Emergency Website">Randall Mathews</a> represents CEMA, and <a href="https://www.savannahga.gov/507/Office-of-Sustainability" target="_blank" aria-label="Nick Deffley profile on City of Savannah Website">Nick Deffley</a> (Director, Office of Sustainability) represents the City of Savannah.</p>
      </div>
    </div>

    <div class="show-more" style="display: none;">
      <button class="btn-cta">Show more</button>
    </div>

    <div class="row">
      <div class="col-md-4">
        <p class="question">How do the sensors measure sea level?</p>
      </div>
      <div class="col-md-8">
        <p class="answer">The sensors use the roundtrip travel time of ultrasonic waves to measure the distance from the sensor to the water level. They log measurements every ten minutes, enabling their batteries to last one year or longer.</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <p class="question">What interesting signals have the sensors captured thus far?</p>
      </div>
      <div class="col-md-8">
        <p class="answer">The sensors captured the king tide event on August 10, 2018, with the different sensor registering high tides that differed by as much as 1 foot in height and by as much as 40 minutes in the timing of peak tidal height.</p>
        <p class="answer">While Hurricane Florence did not make a direct hit on the coast of Georgia, we did register some departures from normal tidal heights and timing, owing to the sustained winds along the coast over those days. On the front side of Florence, sensors registered 3-4” higher tidal heights, and on the back end they registered a full foot lower than predicted. As with the king tide, the specific timing of the high and low tides during those times were 30-40 minutes different than predicted.</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <p class="question">Where are future sensor deployments planned, and how are they decided? </p>
      </div>
      <div class="col-md-8">
        <p class="answer">Near-term priorities for sensor placement include a range of different coastal environments in Chatham County, along the canals that run through the City of Savannah, and further inland, sensors to measure the level of rainwaters that accumulate in flood-prone areas. The specific location of sensors will be determined by the project team, as they identify city, county, and in some cases privately owned installation sites that provide the proper mounting environment. For the sea level sensors, deployment on bridges is optimal, as those represent critical infrastructure that emergency responders must monitor in real-time, to aid coastal evacuation efforts as well as safe recovery efforts.</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <p class="question">What else could sensors measure?</p>
      </div>
      <div class="col-md-8">
        <p class="answer">We are excited to pilot temperature sensors throughout Chatham County, to aid the community in monitoring urban heat islands, as well as ocean temperatures. But the sensor technology could be used to measure dozens of different environmental indicators of relevance to community health and safety.</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <p class="question">How is the project funded? </p>
      </div>
      <div class="col-md-8">
        <p class="answer">The project is one of four <a href="http://smartcities.gatech.edu/georgia-smart" target="_blank" aria-label="Georgia Smart Communities Challenge page on Smart Cities Website">Georgia Smart Communities</a> grants that provided funding for Georgia Tech researchers to partner with communities across Georgia to advance community well-being through the application of smart technology. Funding for the Georgia Smart Communities initiative comes from a consortium of public and private funders, <a href="https://smartcities.gatech.edu/georgia-smart" target="_blank" aria-label="Open Smart Cities and Inclusive Innovation site to see all funders">listed here</a>.</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <p class="question">How long will this project last? </p>
      </div>
      <div class="col-md-8">
        <p class="answer">The first phase of this project will last until August, 2019. However, the project is pursuing a variety of additional funding avenues to enable the project’s near-term growth and continued development. This includes a range of federal, state, and local sources of funding.</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <p class="question">How can I get involved? </p>
      </div>
      <div class="col-md-8">
        <p class="answer">We are interested in hearing from the following community members:</p>
        <ul>
          <li>Those who might like to host one of our sea level sensors on their coastal property</li>
          <li>Public officials who would like to learn more about how their communities can benefit from the sea level sensor and/or temperature sensor technology</li>
          <li>Neighborhoods that want to “adopt” a sensor package as we seek to expand the network</li>
          <li>Teachers who want to partner with us to bring the sensor technology and data into their classrooms</li>
          <li>Developers who would like to partner with us on data access and visualization</li>           
        </ul>
        <p>Please <a href="#newsletter">sign up for the Smart Sea Level Sensor newsletter</a> for updates on the project and information about future opportunities to get involved.</p>
      </div>
    </div>
  </div>
</div>

{% include footer.html %}
