---
layout: default
---

{% include header.html %}

<div class="hero">
  <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop" poster="/img/hero/dock.jpg">
    <source src="/img/hero/dock.webm" type="video/webm">
    <source src="/img/hero/dock.mp4" type="video/mp4">
  </video>
  
  <div class="container h-100">
    <div class="d-flex h-100">
      <div class="w-70 text-white">
        <h1>Smart sea level sensors in Chatham County, GA</h1>
        <p>The Smart Sea Level Sensors project is a partnership between Chatham Emergency Management Agency officials, City of Savannah officials, and Georgia Tech scientists and engineers who are working together to install a network of internet-enabled sea level sensors across Chatham County. The real-time data on coastal flooding will be used for emergency planning and response.</p>
        <div class="learn-more">
          <a href="https://www.youtube.com/watch?v=0NFji1boobQ" target="_blank" class="btn-cta">Watch the video</a>
          <a href="/news/january-2019-meeting-recap" class="btn-cta">Get the latest</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="news section">
  <div class="container">
    <h2>In the news</h2>
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <a href="https://www.savannahnow.com/news/20190130/chatham-county-sea-level-sensor-project-seeks-input" target="_blank">
            <img class="card-img-top" src="/img/featured/chatham-county-sea-level-sensor-project-seeks-input.jpg" alt="Yards on Kilkenny Creek in Richmond Hill flooded Nov. 23 with little warning">
            <div class="card-body">
              <img class="source" src="/img/featured/savannah-now-logo.png" alt="Savannah Now logo">
              <h4 class="card-title">Chatham County sea level sensor project seeks input</h4>
              <p class="sub"><span class="date">Jan 30, 2019</span></p>
            </div>
          </a>
        </div> 
      </div>

      <div class="col-md-4">
        <div class="card">
          <a href="https://www.ajc.com/news/floods-fire-and-hurricanes-dire-warnings-climate-report/tRIryABBG6T2yOeKHBzBxM/" target="_blank">
            <img class="card-img-top" src="/img/featured/climate-change-report-contains-grim-forecast-for-georgia.jpg" alt="Boats along with sections of dock are scattered in the marsh, some sitting on the bottom, after Hurricane Irma on Tuesday, September 12, 2017, at St. Marys on the Georgia coast.">
            <div class="card-body">
              <img class="source" src="/img/featured/ajc.svg" alt="AJC logo">
              <h4 class="card-title">Floods, fire and hurricanes: Dire warnings for Georgia in climate report</h4>
              <p class="sub"><span class="date">Dec 1, 2018</span></p>
            </div>
          </a>
        </div> 
      </div>
      <div class="col-md-4">
        <div class="card">
          <a href="http://www.gpbnews.org/post/what-national-climate-assessment-means-rural-coastal-georgia" target="_blank">
            <img class="card-img-top" src="/img/featured/what-national-climate-assessment-means-rural-coastal-georgia.jpg" alt="According to the National Climate Assessment, climate change could result in more extreme precipitation events like Hurricane Michael, which razed farmland across south Georgia in October.">
            <div class="card-body">
              <img class="source" src="/img/featured/gpb.png" alt="GPB logo">
              <h4 class="card-title">What The National Climate Assessment Means For Rural, Coastal Georgia</h4>
              <p class="sub"><span class="date">Nov 27, 2018</span></p>
            </div>
          </a>
        </div> 
      </div>
    </div>
    <div class="show-more">
      <a href="/news/" class="btn-cta">See all news</a>
    </div>
  </div>
</div>

<div class="news section">
  <div class="container">
    <h2>Project updates</h2>
    <div class="row">
      {% for post in site.posts %}
      {% if forloop.index <= 3 %}
      <div class="col-md-4">
        <div class="card">
          {% if post.external %}
          <a href="{{ post.external }}" target="_blank">
          {% else %}
          <a href="{{ post.url }}">
          {% endif %}
            <img class="card-img" src="{{ post.image }}" alt="{{ post.title }}">
            <div class="card-body">
              <h4 class="card-title">{{ post.title }}</h4>
            </div>
          </a>     
        </div>
      </div>
      {% endif %}
      {% endfor %}
    </div>
    <div class="show-more">
      <a href="/news/#project-updates" class="btn-cta">See all project updates</a>
    </div>
  </div>
</div>

<div class="events section">
  <div class="container">
    <h2>Events</h2>

    <div class="row">
      <div class="upcoming col-md-6">
        <h3>Upcoming</h3>
        <div class="row">
          <div class="col-md-2 event-date">
            <h5 class="date-box-prefix">Wed</h5>
            <div class="date-box">
              <h5>Mar</h5>
              <h3>27</h3>
            </div>
          </div>
          <div class="col-md-10 event-body">
            <h4 class="event-title">March 2019 Meeting</h4>
            <p class="event-time">GT Savannah</p>
            <p class="event-description">We will have our fourth public meeting to discuss project updates and answer questions.</p>
            <p style="margin-bottom: 0"><a href="https://www.eventbrite.com/e/smart-sea-level-sensor-meeting-tickets-58736325932" target="_blank">Learn more</a></p>  
          </div>
        </div>
      </div>
      <div class="past col-md-6">
        <h3>Past</h3>
        <div class="row">
          <div class="col-md-2 event-date">
            <h5 class="date-box-prefix">Tue</h5>
            <div class="date-box">
              <h5>Jan</h5>
              <h3>29</h3>
            </div>
          </div>
          <div class="col-md-10 event-body">
            <h4 class="event-title">January 2019 Meeting</h4>
            <p class="event-time">9:00 AM - 10:30 PM, Coastal Georgia Center</p>
            <p class="event-description">We had our third public meeting to discuss project updates and answer questions.</p>  
            <p style="margin-bottom: 0"><a href="/news/january-2019-meeting-recap">View recap</a></p>
          </div>
        </div>
      </div>
    </div>
      
    <div class="show-more">
      <a href="/events/" class="btn-cta">See all events</a>
    </div>
  </div>
</div>

{% include newsletter.html %}

{% include footer.html %}