---
layout: default
---

{% include header.html %}

<div class="hero">
  <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop" poster="/img/hero/dock.jpg">
    <source src="/img/hero/dock.webm" type="video/webm">
    <source src="/img/hero/dock.mp4" type="video/mp4">
  </video>
  
  <div class="container h-100">
    <div class="d-flex h-100">
      <div class="w-70 text-white">
        <h1>Smart sea level sensors in Chatham County, GA</h1>
        <p>The Smart Sea Level Sensors project is a partnership between Chatham Emergency Management Agency officials, City of Savannah officials, and Georgia Tech scientists and engineers who are working together to install a network of internet-enabled sea level sensors across Chatham County. The real-time data on coastal flooding will be used for emergency planning and response.</p>
        <div class="learn-more">
          <a href="https://www.youtube.com/watch?v=0NFji1boobQ" target="_blank" class="btn-cta">Watch the video</a>
          <!-- <a href="/news/march-2019-meeting-recap" class="btn-cta">Get the latest</a> -->
        </div>
      </div>
    </div>
  </div>
</div>

<div class="news section">
  <div class="container">
    <h2>In the news</h2>
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <a href="https://howwerespond.aaas.org/community-spotlight/residents-of-savannah-rise-to-the-occasion-as-higher-seas-encroach/" target="_blank">
            <img class="card-img-top" src="/img/featured/aaas.jpg" alt="Lighthouse">
            <div class="card-body">
              <img class="source" src="/img/featured/aaas-logo.png" alt="AAAS logo">
              <h4 class="card-title">Residents of Savannah Rise to the Occasion as Higher Seas Encroach</h4>
              <p class="sub"><span class="date">Aug 2019</span></p>
            </div>
          </a>
        </div> 
      </div>
      <div class="col-md-4">
        <div class="card">
          <a href="http://savannahceo.com/features/2019/05/smart-sea-sensors-expo-highlights-accomplishments-and-shares-future-plans" target="_blank">
            <img class="card-img-top" src="/img/featured/smart-sea-sensors-expo-highlights-accomplishments-and-shares-future-plans.png" alt="Smart Sea Level Sensors Expo banner">
            <div class="card-body">
              <img class="source" src="/img/featured/savannahceo-logo.png" alt="Savannah CEO logo">
              <h4 class="card-title">Smart Sea Sensors Expo Highlights Accomplishments and Shares Future Plans</h4>
              <p class="sub"><span class="date">May 17, 2019</span></p>
            </div>
          </a>
        </div> 
      </div>
      <div class="col-md-4">
        <div class="card">
          <a href="https://www.wtoc.com/video/2019/05/17/sea-level-sensors-project-one-year-later/" target="_blank">
            <img class="card-img-top" src="/img/featured/sea-level-sensors-project-one-year-later.jpg" alt="Sea level sensors project: One year later">
            <div class="card-body">
              <img class="source" src="/img/featured/wtoc-logo.png" alt="WTOC logo">
              <h4 class="card-title">Sea level sensors project: One year later</h4>
              <p class="sub"><span class="date">May 16, 2019</span></p>
            </div>
          </a>
        </div> 
      </div>
    </div>
    <div class="show-more">
      <a href="/news/" class="btn-cta">See all news</a>
    </div>
  </div>
</div>

<div class="news section">
  <div class="container">
    <h2>Project updates</h2>
    <div class="row">
      {% for post in site.posts %}
      {% if forloop.index <= 3 %}
      <div class="col-md-4">
        <div class="card">
          {% if post.external %}
          <a href="{{ post.external }}" target="_blank">
          {% else %}
          <a href="{{ post.url }}">
          {% endif %}
            <img class="card-img" src="{{ post.image }}" alt="{{ post.title }}">
            <div class="card-body">
              <h4 class="card-title">{{ post.title }}</h4>
            </div>
          </a>     
        </div>
      </div>
      {% endif %}
      {% endfor %}
    </div>
    <div class="show-more">
      <a href="/news/#project-updates" class="btn-cta">See all project updates</a>
    </div>
  </div>
</div>

<div class="events section">
  <div class="container">
    <h2>Events</h2>

    <div class="row">
      <div class="upcoming col-md-6">
        <h3>Upcoming</h3>
        <p style="margin-top: 28px;">No events scheduled</p>        
      </div>
      <div class="past col-md-6">
        <h3>Past</h3>
        <div class="row">
          <div class="col-md-2 event-date">
            <h5 class="date-box-prefix">Thu</h5>
            <div class="date-box">
              <h5>Aug</h5>
              <h3>01</h3>
            </div>
          </div>
          <div class="col-md-9 event-body">
            <h4 class="event-title">Aug 2019 Meeting</h4>
            <p class="event-time">GT Savannah</p>
            <p class="event-description">We will have our sixth meeting to discuss project updates and plan next steps.</p>  
            <!-- <p style="margin-bottom: 0"><a href="https://www.eventbrite.com/e/smart-sea-level-sensors-expo-tickets-60325267499" target="_blank">Learn more</a></p>   -->
          </div>
        </div>
      </div>
    </div>
      
    <div class="show-more">
      <a href="/events/" class="btn-cta">See all events</a>
    </div>
  </div>
</div>

{% include newsletter.html %}

{% include footer.html %}