---
layout: default
title: Internships
permalink: /internships/
---

{% include header.html %}

<div class="internships section">
  <div class="container">
    <h2>Internships</h2>

    <div class="row justify-content-md-center">
      <div class="col-md-9">
        <div class="positions">
          <div class="position" id="community-internship-1">
            <h3 class="title">Community Internship</h3>
            <h4 class="location">Savannah, GA</h4>
            <button>Learn more</button>
            <div class="description">
              <h5>Project description</h5>
              <p>The Smart Sea Level Sensors Community team works to help vulnerable communities become more resilient in the face of sea level rise and extreme weather events. You'll work with residents in order to develop neighborhood-specific emergency preparedness and response plans to improve residents' ability to plan for and recover from extreme weather events.</p>
              <p>This internship is based in Savannah, GA. You will need to be on site and will need to make your own housing arrangements.</p>
              <h5>Qualifications</h5>
              <ul>
                <li>Strong Verbal and Written Communication Skills</li>
                <li>Data Analysis</li>
                <li>Organizational Skills</li>
              </ul>
              <h5>Apply now</h5>
              <ol>
                <li><a href="https://gatech.co1.qualtrics.com/jfe/form/SV_0xPOUv68gFOrsy1" target="_blank">Apply here</a> by <strong>Feb 3</strong></li>
                <ul>
                  <li>When indicating which internship opportunities interest you, select <strong>City of Savannah</strong> to apply for this position.</li>
                </ul>
                <li>We'll get back to you for interviews between <strong>Feb 6</strong> and <strong>Feb 28</strong></li>
                <li>Internship selections will be announced during the <strong>week of Mar 16</strong></li>
              </ol>
              <p>Check out the <a target="_blank" href="https://serve-learn-sustain.gatech.edu/student-internship-application">full timeline here</a>.</p>
            </div>
          </div>

          <div class="position" id="community-internship-2">
            <h3 class="title">Community Internship</h3>
            <h4 class="location">Savannah, GA</h4>
            <button>Learn more</button>
            <div class="description">
              <h5>Project description</h5>
              <p>The Smart Sea Level Sensors Community team works to help vulnerable communities become more resilient in the face of sea level rise and extreme weather events. You'll work with residents, city officials, and Georgia Tech researchers to create a comprehensive map of socio-economic data, environmental data, and health data for the purpose of improving decision making and emergency preparation.</p>
              <p>This internship is based in Savannah, GA. You will need to be on site and will need to make your own housing arrangements.</p>
              <h5>Qualifications</h5>
              <ul>
                <li>Data Analysis</li>
                <li>Organizational Skills</li>
                <li>Strong Verbal and Written Communication Skills</li>
              </ul>
              <h5>Apply now</h5>
              <ol>
                <li><a href="https://gatech.co1.qualtrics.com/jfe/form/SV_0xPOUv68gFOrsy1" target="_blank">Apply here</a> by <strong>Feb 3</strong></li>
                <ul>
                  <li>When indicating which internship opportunities interest you, select <strong>City of Savannah</strong> to apply for this position.</li>
                </ul>
                <li>We'll get back to you for interviews between <strong>Feb 6</strong> and <strong>Feb 28</strong></li>
                <li>Internship selections will be announced during the <strong>week of Mar 16</strong></li>
              </ol>
              <p>Check out the <a target="_blank" href="https://serve-learn-sustain.gatech.edu/student-internship-application">full timeline here</a>.</p>
            </div>
          </div>

          <div class="position" id="swe-internship">
            <h3 class="title">Software Engineering Internship</h3>
            <h4 class="location">Atlanta, GA</h4>
            <button>Learn more</button>
            <div class="description">
              <h5>Project description</h5>
              <p>The Smart Sea Level Sensors Data team works to turn data gathered by sensors into tools and services that are useful to city and county officials, decision makers, and residents. You'll develop products that map flooding across Chatham County in order to help emergency managers save time when managing extreme weather events.</p>
              <h5>Qualifications</h5>
              <ul>
                <li>Strong sense of visual design and user experience</li>
                <li>Experience with modern web frameworks (eg Express.js or Flask on the backend; React or Vue on the frontend)</li>
                <li>Software development experience in one or more general purpose programming language, such as Python, JavaScript, or Java</li>
                <li>Strong problem-solving skills, adaptable, proactive, and willing to take ownership</li>
              </ul>
              <h5>Apply now</h5>
              <ol>
                <li><a href="https://gatech.co1.qualtrics.com/jfe/form/SV_0xPOUv68gFOrsy1" target="_blank">Apply here</a> by <strong>Feb 3</strong></li>
                <ul>
                  <li>When indicating which internship opportunities interest you, select <strong>Institute for People and Technology (IPaT)</strong> to apply for this position.</li>
                </ul>
                <li>We'll get back to you for interviews between <strong>Feb 6</strong> and <strong>Feb 28</strong></li>
                <li>Internship selections will be announced during the <strong>week of Mar 16</strong></li>
              </ol>
              <p>Check out the <a target="_blank" href="https://serve-learn-sustain.gatech.edu/student-internship-application">full timeline here</a>.</p>
            </div>
          </div>

          <div class="position" id="sensors-internship">
            <h3 class="title">Sensors Internship</h3>
            <h4 class="location">Atlanta, GA</h4>
            <button>Learn more</button>
            <div class="description">
              <h5>Project description</h5>
              <p>The Sensors team works to install new sensors and maintain existing sensors around Chatham County. You'll work to to add air quality sensors to our network. This will involve integrating sensors with new hardware and firmware, API development, and field work in Savannah, GA.</p>
              <ul>
                <li>Experience with maker project boards such as Arduino or Raspberry PI</li>
                <li>Interest in air quality and environmental monitoring solutions</li>
                <li>Strong problem-solving skills, adaptable, proactive, and willing to take ownership.</li>
              </ul>
              <h5>Apply now</h5>
              <ol>
                <li><a href="https://gatech.co1.qualtrics.com/jfe/form/SV_0xPOUv68gFOrsy1" target="_blank">Apply here</a> by <strong>Feb 3</strong></li>
                <ul>
                  <li>When indicating which internship opportunities interest you, select <strong>Institute for People and Technology (IPaT)</strong> to apply for this position.</li>
                </ul>
                <li>We'll get back to you for interviews between <strong>Feb 6</strong> and <strong>Feb 28</strong></li>
                <li>Internship selections will be announced during the <strong>week of Mar 16</strong></li>
              </ol>
              <p>Check out the <a target="_blank" href="https://serve-learn-sustain.gatech.edu/student-internship-application">full timeline here</a>.</p>
            </div>
          </div>
        </div>        
      </div>
    </div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
  var main = function() {
    $('.description').hide();
    $('button').click(function() {
      $(this).hide()
      $(this).next().show();
    });
  }
  $(document).ready(main);
</script>

{% include footer.html %}

