---
layout: default
title: News
permalink: /news/
---

{% include header.html %}

<div class="news section">
  <div class="container">
    <h2>In the news</h2>
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <a href="https://www.savannahnow.com/news/20190130/chatham-county-sea-level-sensor-project-seeks-input" target="_blank">
            <img class="card-img-top" src="/img/featured/chatham-county-sea-level-sensor-project-seeks-input.jpg" alt="Yards on Kilkenny Creek in Richmond Hill flooded Nov. 23 with little warning">
            <div class="card-body">
              <img class="source" src="/img/featured/savannah-now-logo.png" alt="Savannah Now logo">
              <h4 class="card-title">Chatham County sea level sensor project seeks input</h4>
              <p class="sub"><span class="date">Jan 30, 2019</span></p>
            </div>
          </a>
        </div> 
      </div>

      <div class="col-md-4">
        <div class="card">
          <a href="https://www.ajc.com/news/floods-fire-and-hurricanes-dire-warnings-climate-report/tRIryABBG6T2yOeKHBzBxM/" target="_blank">
            <img class="card-img-top" src="/img/featured/climate-change-report-contains-grim-forecast-for-georgia.jpg" alt="Boats along with sections of dock are scattered in the marsh, some sitting on the bottom, after Hurricane Irma on Tuesday, September 12, 2017, at St. Marys on the Georgia coast.">
            <div class="card-body">
              <img class="source" src="/img/featured/ajc.svg" alt="AJC logo">
              <h4 class="card-title">Floods, fire and hurricanes: Dire warnings for Georgia in climate report</h4>
              <p class="sub"><span class="date">Dec 1, 2018</span></p>
            </div>
          </a>
        </div> 
      </div>
      <div class="col-md-4">
        <div class="card">
          <a href="http://www.gpbnews.org/post/what-national-climate-assessment-means-rural-coastal-georgia" target="_blank">
            <img class="card-img-top" src="/img/featured/what-national-climate-assessment-means-rural-coastal-georgia.jpg" alt="According to the National Climate Assessment, climate change could result in more extreme precipitation events like Hurricane Michael, which razed farmland across south Georgia in October.">
            <div class="card-body">
              <img class="source" src="/img/featured/gpb.png" alt="GPB logo">
              <h4 class="card-title">What The National Climate Assessment Means For Rural, Coastal Georgia</h4>
              <p class="sub"><span class="date">Nov 27, 2018</span></p>
            </div>
          </a>
        </div> 
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <a href="https://www.savannahnow.com/news/20181026/help-researchers-chart-sea-level-storm-surge-in-chatham-county" target="_blank">
            <img class="card-img-top" src="/img/featured/help-researchers-chart-sea-level-storm-surge-in-chatham-county.jpg" alt="Russ Clark (Georgia Tech) and Randall Mathews (CEMA)">
            <div class="card-body">
              <img class="source" src="/img/featured/savannah-now-logo.png" alt="Savannah Now logo">
              <h4 class="card-title">Help researchers chart sea level, storm surge in Chatham County</h4>
              <p class="sub"><span class="date">Oct 26, 2018</span></p>
            </div>
          </a>
        </div> 
      </div>
      <div class="col-md-4">
        <div class="card">
          <a href="https://www.wsbtv.com/video?videoId=844716486&videoVersion=1.0" target="_blank">
            <img class="card-img-top" src="/img/featured/high-tech-ideas-being-implemented-in-smart-cities.png" alt="Dr. Kim Cobb, Georgia Tech">
            <div class="card-body">
              <img class="source" src="/img/featured/wsbtv-logo.png" alt="WSB-TV logo">
              <h4 class="card-title">High-tech ideas being implemented in Smart Cities</h4>
              <p class="sub"><span class="date">Oct 1, 2018</span></p>
            </div>
          </a>
        </div> 
      </div>
      <div class="col-md-4">
        <div class="card">
          <a href="https://www.wsav.com/news/local-news/group-deploys-sea-level-sensor-program-to-get-ahead-of-the-storm/1390863505" target="_blank">
            <img class="card-img-top" src="/img/featured/group-deploys-sea-level-sensor-program.jpg" alt="Savannah, GA shipping lane.">
            <div class="card-body">
              <img class="source" src="/img/featured/wsav-logo.png" alt="WSAV logo">
              <h4 class="card-title">Group deploys sea level sensor program to get ahead of storms</h4>
              <p class="sub"><span class="date">Aug 23, 2018</span></p>
            </div>
          </a>
        </div> 
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <a href="https://www.savannahbusinessjournal.com/news-categories/68-state-regional-news/8372-aug-21-smart-sea-level-tools-for-emergency-response-planning-installed-as-part-of-smart-communities-collaboration.html" target="_blank">
            <img class="card-img-top" src="/img/featured/smart-sea-level-tools-installed.jpg" alt="Savannah, GA cityscape.">
            <div class="card-body">
              <img class="source" src="/img/featured/sbj-logo.png" alt="Savannah Busines Journal logo">
              <h4 class="card-title">Smart Sea Level Tools for Emergency Response Planning Installed as Part of Smart Communities Collaboration</h4>
              <p class="sub"><span class="date">Aug 21, 2018</span></p>
            </div>
          </a>
        </div> 
      </div>
      <div class="col-md-4">
        <div class="card">
          <a href="http://www.savannahnow.com/news/20180629/new-sensors-will-detect-flooding-as-it-happens-in-chatham" target="_blank">
            <img class="card-img-top" src="/img/featured/new-sensors-will-detect-flooding-as-it-happens-in-chatham.jpg" alt="Sea level sensor deployed on the bridge at Oatland Island.">
            <div class="card-body">
              <img class="source" src="/img/featured/savannah-now-logo.png" alt="Savannah Now logo">
              <h4 class="card-title">New sensors will detect flooding as it happens in Chatham</h4>
              <p class="sub"><span class="date">Jun 29, 2018</span></p>
            </div>
          </a>
        </div> 
      </div>
      <div class="col-md-4">
        <div class="card">
          <a href="https://www.flipsnack.com/Richmondhillreflectionsmag/v14n3-all-pgs-low-res-final-1-print.html?p=32" target="_blank">
            <img class="card-img-top" src="/img/featured/the-need-for-more-information.jpg" alt="Dr. Russell Clark, Senior Research Scientist & Director of Mobile Technology and Internet of Things (IoT) Programs and Georgia Tech-Savannah.">
            <div class="card-body">
              <img class="source" src="/img/featured/richmond-hill-reflections-logo.png" alt="Richmond Hill Reflections logo">
              <h4 class="card-title">The need for more information</h4>
              <p class="sub"><span class="date">Jun 21, 2018</span></p>
            </div>
          </a>
        </div> 
      </div>
    </div>
  </div>
</div>

<div class="news section">
  <div class="container">
    <h2>Project updates</h2>
    <div class="row">
      {% for post in site.posts %}
      <div class="col-md-4">
        <div class="card">
          {% if post.external %}
          <a href="{{ post.external }}" target="_blank">
          {% else %}
          <a href="{{ post.url }}">
          {% endif %}
            <img class="card-img" src="{{ post.image }}" alt="{{ post.title }}">
            <div class="card-body">
              <h4 class="card-title">{{ post.title }}</h4>
            </div>
          </a>     
        </div> 
      </div>
      {% endfor %}
    </div>
  </div>
</div>

<!-- <div class="featured section">
  <div class="container">
    <h2>Featured in</h2>
    <div class="row justify-content-md-center">
      <div class="col-md-3">
        <a href="https://www.ajc.com/news/floods-fire-and-hurricanes-dire-warnings-climate-report/tRIryABBG6T2yOeKHBzBxM/" target="_blank">
          <img src="/img/featured/ajc.svg" alt="Atlanta Journal-Constitution logo">
        </a>
      </div>
      <div class="col-md-3">
        <a href="http://www.gpbnews.org/post/what-national-climate-assessment-means-rural-coastal-georgia" target="_blank">
          <img src="/img/featured/gpb.png" alt="Georgia Public Broadcasting logo">
        </a>
      </div>
      <div class="col-md-3">
        <a href="https://www.flipsnack.com/Richmondhillreflectionsmag/v14n3-all-pgs-low-res-final-1-print.html?p=32" target="_blank">
          <img src="/img/featured/richmond-hill-reflections-logo.png" alt="Richmond Hill Reflections logo">
        </a>
      </div>
      <div class="col-md-3">
        <a href="https://www.google.com/search?q=site%3Ahttps%3A%2F%2Fwww.savannahnow.com%2F+%22Smart+Sea+Level+Sensors%22+OR+%22Georgia+Smart+Communities+Challenge%22&oq=site%3Ahttps%3A%2F%2Fwww.savannahnow.com%2F+%22Smart+Sea+Level+Sensors%22+OR+%22Georgia+Smart+Communities+Challenge%22" target="_blank">
          <img src="/img/featured/savannah-now-logo.png" alt="Savannah Morning News logo">
        </a>
      </div>
    </div>
    <div class="row justify-content-md-center">
      <div class="col-md-3">
        <a href="https://www.savannahbusinessjournal.com/news-categories/68-state-regional-news/8372-aug-21-smart-sea-level-tools-for-emergency-response-planning-installed-as-part-of-smart-communities-collaboration.html" target="_blank">
          <img src="/img/featured/sbj-logo.png" alt="Savannah Business Journal logo">
        </a>
      </div>
      <div class="col-md-3">
        <a href="https://www.wsav.com/news/local-news/group-deploys-sea-level-sensor-program-to-get-ahead-of-the-storm/1390863505" target="_blank">
          <img src="/img/featured/wsav-logo.png" alt="WSAV logo">
        </a>
      </div>
      <div class="col-md-3">
        <a href="https://www.wsbtv.com/video?videoId=844716486&videoVersion=1.0" target="_blank">
          <img src="/img/featured/wsbtv-logo.png" alt="WSB-TV logo">
        </a>
      </div>
    </div>
  </div>
</div> -->

{% include footer.html %}
