---
layout: default
title: News
permalink: /news/
---

{% include header.html %}

<main>

<div id="news" class="news section">
  <div class="container">
    <h2>In the news</h2>
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <a href="https://www.savannahnow.com/news/20200307/sea-level-rise-challenges-storm-water-system" target="_blank">
            <img class="card-img-top" src="/img/featured/sea-level-rise-challenges-storm-water-system.jpg" alt="Jason Evans of Stetson University (not affiliated with the Smart Sea Level Sensors project) discusses the results of his sea level rise modeling at the Chatham County Commission Friday, March 6.">
            <div class="card-body">
              <img class="source" src="/img/featured/savannah-now-logo.png" alt="Savannah Now logo">
              <h4 class="card-title">Sea level rise challenges storm water system</h4>
              <p class="sub"><span class="date">Mar 7, 2020</span></p>
            </div>
          </a>
        </div> 
      </div>
      <div class="col-md-4">
        <div class="card">
          <a href="https://www.savannahnow.com/news/20191023/chatham-lucked-out-by-few-hours-with-dorian" target="_blank">
            <img class="card-img-top" src="/img/featured/oct-23-workshop.jpg" alt="CEMA Deputy Director Randall Mathews reviews the emergency management response to Hurricane Dorian.">
            <div class="card-body">
              <img class="source" src="/img/featured/savannah-now-logo.png" alt="Savannah Now logo">
              <h4 class="card-title">Chatham lucked out by a few hours with Dorian</h4>
              <p class="sub"><span class="date">Oct 23, 2019</span></p>
            </div>
          </a>
        </div> 
      </div>
      <div class="col-md-4">
        <div class="card">
          <a href="https://www.ajc.com/news/local-education/savannah-high-school-students-help-prepare-city-for-changing-climate/n5Ytpt9E1cBfkTQ4u69GQJ/" target="_blank">
            <img class="card-img-top" src="/img/featured/TeamInstallOnDock.jpg_web.jpg" alt="Students Kutub Ghandi and Maddie Carlini help Georgia Tech research scientist Russell Clark install a water level sensor at Turner Creek Boat Ramp on Whitemarsh Island">
            <div class="card-body">
              <img class="source" src="/img/featured/ajc.svg" alt="AJC logo">
              <h4 class="card-title">Savannah high school students help prepare city for a changing climate</h4>
              <p class="sub"><span class="date">Oct 10, 2019</span></p>
            </div>
          </a>
        </div> 
      </div>
      <div class="col-md-4">
        <div class="card">
          <a href="https://howwerespond.aaas.org/community-spotlight/residents-of-savannah-rise-to-the-occasion-as-higher-seas-encroach/" target="_blank">
            <img class="card-img-top" src="/img/featured/aaas.jpg" alt="Lighthouse">
            <div class="card-body">
              <img class="source" src="/img/featured/aaas-logo.png" alt="AAAS logo">
              <h4 class="card-title">Residents of Savannah Rise to the Occasion as Higher Seas Encroach</h4>
              <p class="sub"><span class="date">Aug 2019</span></p>
            </div>
          </a>
        </div> 
      </div>
      <div class="col-md-4">
        <div class="card">
          <a href="http://savannahceo.com/features/2019/05/smart-sea-sensors-expo-highlights-accomplishments-and-shares-future-plans" target="_blank">
            <img class="card-img-top" src="/img/featured/smart-sea-sensors-expo-highlights-accomplishments-and-shares-future-plans.png" alt="Smart Sea Level Sensors Expo banner">
            <div class="card-body">
              <img class="source" src="/img/featured/savannahceo-logo.png" alt="Savannah CEO logo">
              <h4 class="card-title">Smart Sea Sensors Expo Highlights Accomplishments and Shares Future Plans</h4>
              <p class="sub"><span class="date">May 17, 2019</span></p>
            </div>
          </a>
        </div> 
      </div>
      <div class="col-md-4">
        <div class="card">
          <a href="https://www.wtoc.com/video/2019/05/17/sea-level-sensors-project-one-year-later/" target="_blank">
            <img class="card-img-top" src="/img/featured/sea-level-sensors-project-one-year-later.jpg" alt="Sea level sensors project: One year later">
            <div class="card-body">
              <img class="source" src="/img/featured/wtoc-logo.png" alt="WTOC logo">
              <h4 class="card-title">Sea level sensors project: One year later</h4>
              <p class="sub"><span class="date">May 16, 2019</span></p>
            </div>
          </a>
        </div> 
      </div>
      <div class="col-md-4">
        <div class="card">
          <a href="https://www.news.gatech.edu/2019/05/16/smart-sea-sensors-expo-highlights-accomplishments-and-shares-future-plans" target="_blank">
            <img class="card-img-top" src="/img/featured/smart-sea-sensors-expo-highlights-accomplishments-and-shares-future-plans.jpg" alt="Russ Clark, Matt Gerig, Tom McDonald, and David Anderson install sensors">
            <div class="card-body">
              <img class="source" src="/img/featured/gt-logo.png" alt="Georgia Tech logo">
              <h4 class="card-title">Smart Sea Sensors Expo Highlights Accomplishments and Shares Future Plans</h4>
              <p class="sub"><span class="date">May 16, 2019</span></p>
            </div>
          </a>
        </div> 
      </div>
      <div class="col-md-4">
        <div class="card">
          <a href="https://www.savannahnow.com/news/20190514/sea-level-sensors-spread-across-chatham" target="_blank">
            <img class="card-img-top" src="/img/featured/sea-level-sensors-spread-across-chatham.jpg" alt="Russ Clark installs a sensor on a bridge on Burnside Island">
            <div class="card-body">
              <img class="source" src="/img/featured/savannah-now-logo.png" alt="Savannah Now logo">
              <h4 class="card-title">Sea level sensors spread across Chatham</h4>
              <p class="sub"><span class="date">May 14, 2019</span></p>
            </div>
          </a>
        </div> 
      </div>
      <div class="col-md-4">
        <div class="card">
          <a href="https://www.wtoc.com/video/2019/05/11/scientists-installing-more-sea-level-sensors-chatham-county/" target="_blank">
            <img class="card-img-top" src="/img/featured/scientists-installing-more-sea-level-sensors-in-chatham-county.jpg" alt="Two men installing a sensor on the side of a bridge">
            <div class="card-body">
              <img class="source" src="/img/featured/wtoc-logo.png" alt="WTOC logo">
              <h4 class="card-title">Scientists installing more sea level sensors in Chatham County</h4>
              <p class="sub"><span class="date">May 10, 2019</span></p>
            </div>
          </a>
        </div> 
      </div>
      <div class="col-md-4">
        <div class="card">
          <a href="https://www.savannahnow.com/news/20190130/chatham-county-sea-level-sensor-project-seeks-input" target="_blank">
            <img class="card-img-top" src="/img/featured/chatham-county-sea-level-sensor-project-seeks-input.jpg" alt="Yards on Kilkenny Creek in Richmond Hill flooded Nov. 23 with little warning">
            <div class="card-body">
              <img class="source" src="/img/featured/savannah-now-logo.png" alt="Savannah Now logo">
              <h4 class="card-title">Chatham County sea level sensor project seeks input</h4>
              <p class="sub"><span class="date">Jan 30, 2019</span></p>
            </div>
          </a>
        </div> 
      </div>
      <div class="col-md-4">
        <div class="card">
          <a href="https://www.ajc.com/news/floods-fire-and-hurricanes-dire-warnings-climate-report/tRIryABBG6T2yOeKHBzBxM/" target="_blank">
            <img class="card-img-top" src="/img/featured/climate-change-report-contains-grim-forecast-for-georgia.jpg" alt="Boats along with sections of dock are scattered in the marsh, some sitting on the bottom, after Hurricane Irma on Tuesday, September 12, 2017, at St. Marys on the Georgia coast.">
            <div class="card-body">
              <img class="source" src="/img/featured/ajc.svg" alt="AJC logo">
              <h4 class="card-title">Floods, fire and hurricanes: Dire warnings for Georgia in climate report</h4>
              <p class="sub"><span class="date">Dec 1, 2018</span></p>
            </div>
          </a>
        </div> 
      </div>
      <div class="col-md-4">
        <div class="card">
          <a href="http://www.gpbnews.org/post/what-national-climate-assessment-means-rural-coastal-georgia" target="_blank">
            <img class="card-img-top" src="/img/featured/what-national-climate-assessment-means-rural-coastal-georgia.jpg" alt="According to the National Climate Assessment, climate change could result in more extreme precipitation events like Hurricane Michael, which razed farmland across south Georgia in October.">
            <div class="card-body">
              <img class="source" src="/img/featured/gpb.png" alt="GPB logo">
              <h4 class="card-title">What The National Climate Assessment Means For Rural, Coastal Georgia</h4>
              <p class="sub"><span class="date">Nov 27, 2018</span></p>
            </div>
          </a>
        </div> 
      </div>
      <div class="col-md-4">
        <div class="card">
          <a href="https://www.savannahnow.com/news/20181026/help-researchers-chart-sea-level-storm-surge-in-chatham-county" target="_blank">
            <img class="card-img-top" src="/img/featured/help-researchers-chart-sea-level-storm-surge-in-chatham-county.jpg" alt="Russ Clark (Georgia Tech) and Randall Mathews (CEMA)">
            <div class="card-body">
              <img class="source" src="/img/featured/savannah-now-logo.png" alt="Savannah Now logo">
              <h4 class="card-title">Help researchers chart sea level, storm surge in Chatham County</h4>
              <p class="sub"><span class="date">Oct 26, 2018</span></p>
            </div>
          </a>
        </div> 
      </div>
      <div class="col-md-4">
        <div class="card">
          <a href="https://www.wsbtv.com/video?videoId=844716486&videoVersion=1.0" target="_blank">
            <img class="card-img-top" src="/img/featured/high-tech-ideas-being-implemented-in-smart-cities.png" alt="Dr. Kim Cobb, Georgia Tech">
            <div class="card-body">
              <img class="source" src="/img/featured/wsbtv-logo.png" alt="WSB-TV logo">
              <h4 class="card-title">High-tech ideas being implemented in Smart Cities</h4>
              <p class="sub"><span class="date">Oct 1, 2018</span></p>
            </div>
          </a>
        </div> 
      </div>
      <div class="col-md-4">
        <div class="card">
          <a href="https://www.wsav.com/news/local-news/group-deploys-sea-level-sensor-program-to-get-ahead-of-the-storm/1390863505" target="_blank">
            <img class="card-img-top" src="/img/featured/group-deploys-sea-level-sensor-program.jpg" alt="Savannah, GA shipping lane.">
            <div class="card-body">
              <img class="source" src="/img/featured/wsav-logo.png" alt="WSAV logo">
              <h4 class="card-title">Group deploys sea level sensor program to get ahead of storms</h4>
              <p class="sub"><span class="date">Aug 23, 2018</span></p>
            </div>
          </a>
        </div> 
      </div>
      <div class="col-md-4">
        <div class="card">
          <a href="https://www.savannahbusinessjournal.com/news-categories/68-state-regional-news/8372-aug-21-smart-sea-level-tools-for-emergency-response-planning-installed-as-part-of-smart-communities-collaboration.html" target="_blank">
            <img class="card-img-top" src="/img/featured/smart-sea-level-tools-installed.jpg" alt="Savannah, GA cityscape.">
            <div class="card-body">
              <img class="source" src="/img/featured/sbj-logo.png" alt="Savannah Busines Journal logo">
              <h4 class="card-title">Smart Sea Level Tools for Emergency Response Planning Installed as Part of Smart Communities Collaboration</h4>
              <p class="sub"><span class="date">Aug 21, 2018</span></p>
            </div>
          </a>
        </div> 
      </div>
      <div class="col-md-4">
        <div class="card">
          <a href="http://www.savannahnow.com/news/20180629/new-sensors-will-detect-flooding-as-it-happens-in-chatham" target="_blank">
            <img class="card-img-top" src="/img/featured/new-sensors-will-detect-flooding-as-it-happens-in-chatham.jpg" alt="Sea level sensor deployed on the bridge at Oatland Island.">
            <div class="card-body">
              <img class="source" src="/img/featured/savannah-now-logo.png" alt="Savannah Now logo">
              <h4 class="card-title">New sensors will detect flooding as it happens in Chatham</h4>
              <p class="sub"><span class="date">Jun 29, 2018</span></p>
            </div>
          </a>
        </div> 
      </div>
      <div class="col-md-4">
        <div class="card">
          <a href="https://www.flipsnack.com/Richmondhillreflectionsmag/v14n3-all-pgs-low-res-final-1-print.html?p=32" target="_blank">
            <img class="card-img-top" src="/img/featured/the-need-for-more-information.jpg" alt="Dr. Russell Clark, Senior Research Scientist & Director of Mobile Technology and Internet of Things (IoT) Programs and Georgia Tech-Savannah.">
            <div class="card-body">
              <img class="source" src="/img/featured/richmond-hill-reflections-logo.png" alt="Richmond Hill Reflections logo">
              <h4 class="card-title">The need for more information</h4>
              <p class="sub"><span class="date">Jun 21, 2018</span></p>
            </div>
          </a>
        </div> 
      </div>
    </div>
  </div>
</div>

<div id="project-updates" class="news section">
  <div class="container">
    <h2>Project updates</h2>
    <div class="row">
      {% for post in site.posts %}
      <div class="col-md-4">
        <div class="card">
          {% if post.external %}
          <a href="{{ post.external }}" target="_blank">
          {% else %}
          <a href="{{ post.url }}">
          {% endif %}
            <img class="card-img" src="{{ post.image }}" alt="{{ post.title }}">
            <div class="card-body">
              <h4 class="card-title">{{ post.title }}</h4>
            </div>
          </a>     
        </div> 
      </div>
      {% endfor %}
    </div>
  </div>
</div>
  
  </main>

<!-- <div class="featured section">
  <div class="container">
    <h2>Featured in</h2>
    <div class="row justify-content-md-center">
      <div class="col-md-3">
        <a href="https://www.ajc.com/news/floods-fire-and-hurricanes-dire-warnings-climate-report/tRIryABBG6T2yOeKHBzBxM/" target="_blank">
          <img src="/img/featured/ajc.svg" alt="Atlanta Journal-Constitution logo">
        </a>
      </div>
      <div class="col-md-3">
        <a href="http://www.gpbnews.org/post/what-national-climate-assessment-means-rural-coastal-georgia" target="_blank">
          <img src="/img/featured/gpb.png" alt="Georgia Public Broadcasting logo">
        </a>
      </div>
      <div class="col-md-3">
        <a href="https://www.flipsnack.com/Richmondhillreflectionsmag/v14n3-all-pgs-low-res-final-1-print.html?p=32" target="_blank">
          <img src="/img/featured/richmond-hill-reflections-logo.png" alt="Richmond Hill Reflections logo">
        </a>
      </div>
      <div class="col-md-3">
        <a href="https://www.google.com/search?q=site%3Ahttps%3A%2F%2Fwww.savannahnow.com%2F+%22Smart+Sea+Level+Sensors%22+OR+%22Georgia+Smart+Communities+Challenge%22&oq=site%3Ahttps%3A%2F%2Fwww.savannahnow.com%2F+%22Smart+Sea+Level+Sensors%22+OR+%22Georgia+Smart+Communities+Challenge%22" target="_blank">
          <img src="/img/featured/savannah-now-logo.png" alt="Savannah Morning News logo">
        </a>
      </div>
    </div>
    <div class="row justify-content-md-center">
      <div class="col-md-3">
        <a href="https://www.savannahbusinessjournal.com/news-categories/68-state-regional-news/8372-aug-21-smart-sea-level-tools-for-emergency-response-planning-installed-as-part-of-smart-communities-collaboration.html" target="_blank">
          <img src="/img/featured/sbj-logo.png" alt="Savannah Business Journal logo">
        </a>
      </div>
      <div class="col-md-3">
        <a href="https://www.wsav.com/news/local-news/group-deploys-sea-level-sensor-program-to-get-ahead-of-the-storm/1390863505" target="_blank">
          <img src="/img/featured/wsav-logo.png" alt="WSAV logo">
        </a>
      </div>
      <div class="col-md-3">
        <a href="https://www.wsbtv.com/video?videoId=844716486&videoVersion=1.0" target="_blank">
          <img src="/img/featured/wsbtv-logo.png" alt="WSB-TV logo">
        </a>
      </div>
    </div>
  </div>
</div> -->

{% include footer.html %}
