---
layout: default
title: Our Interns
permalink: /our-interns/
intern: blocks/intern-card.html
---

{% include header.html %}

<div class="our-interns section">
  <div class="container">

    <h2>Our Interns</h2>
      
      {% include_relative {{ page.intern }}
      
        name="Firstname McLastname"
      
        src="../img/featured/the-need-for-more-information.jpg"
      
        desc="<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
      
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>"
      %}
      
      {% include_relative {{ page.intern }}
      
        name="Firstname McLastname"
      
        src="../img/news/nichelle-stephens.jpg"
      
        desc="<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>"
      %}
      
      {% include_relative {{ page.intern }}
      
        name="Firstname McLastname"
      
        src="../img/featured/the-need-for-more-information.jpg"
      
        desc="<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>"
      %}
      
      {% include_relative {{ page.intern }}
      
        name="Firstname McLastname"
      
        src="../img/hero/dock.jpg"
      
        desc="<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>"
      %}
    
  </div>
  <!--end container-->
</div>
<!--end section-->

{% include footer.html %}