---
layout: default
title: Our Interns
permalink: /our-interns/
intern: blocks/intern-card.html
---

{% include header.html %}

<div class="our-interns section">
  <div class="container">

    <h2>Our Interns</h2>
      
      {% include_relative {{ page.intern }}
      
        name="Alyson Laura"
      
        src="../img/team/intern-alyson-laura.jpg"
      
        desc="<p>&ldquo;As a student of public policy, I am looking forward to making policy work for people by engaging with a real community and crafting an Emergency Preparedness &amp; Response Plan that works for the residents of Hudson Hill.&rdquo; </p>"
      %}
      
      {% include_relative {{ page.intern }}
      
        name="Benjamin Vaisberg"
      
        src="../img/team/intern-benjamin-vaisberg.png"
      
        desc="<p>&ldquo;Being raised in Miami, Florida I’m aware of the reality of sea level rise and I’m excited to be part of a project that is working to help people along the US coast stay safe from these dangers.&rdquo;</p>"
      %}
      
      {% include_relative {{ page.intern }}
      
        name="Kaylyn Sinisgalli"
      
        src="../img/team/intern-kaylyn-sinisgalli.jpg"
      
        desc=
        "<p>&ldquo;My name is Kaylyn Sinisgalli. I’m a fourth-year (now fifth-year!) BS/MS Environmental Engineering student with a Spanish minor and I will be interning on the SMART Sea Level Sensors project this summer with Dr. Clark.&rdquo;</p>
    
        <p>&ldquo;The team has done an incredible engaging and involving the local community with the project – I’m excited to be a part of this project so I can too learn how to seamlessly integrate engineering projects into communities to create positive change. I’m looking forward working on the community-created push for air quality sensors this summer!&rdquo;</p>"
      %}
      
      {% include_relative {{ page.intern }}
      
        name="Patrick Daugherty"
      
        src="../img/team/intern-patrick-daugherty.jpg"
      
        desc=
    
        "<p>&ldquo;I heard about the Sea Level Sensor project for a few years ago and I have wanted to get involved ever since. I am a Savannah native and I care deeply about Savannah so it's very fulfilling to be a part of a project that could be used to understand how sea level rise will affect the city and it's residents, especially my friends and family who would all be directly affected by sea level rise in the area.&rdquo;</p> 
    
        <p>&ldquo;Additionally, I am excited to gain an increased understanding through this internship of where I want to take my career and my post-undergraduate education because I am interested in coastal engineering and storm water design.&rdquo;</p>"
      %}
    
  </div>
  <!--end container-->
</div>
<!--end section-->

{% include footer.html %}