<header class="header" id="headerOpen">
  <div class="container overflow">

    <a 
       tabindex="0" 
       role="button" 
       aria-label="Open hamburger menu" 
       class="hamburger" id="hamburgerButton"
       aria-haspopup="menu"
       aria-controls="nav-menu"
       
       aria-pressed="false" 
       aria-expanded="false">
      <svg viewBox="0 0 400 400" xmlns="http://www.w3.org/2000/svg" alt="Hamburger menu icon">
        <defs />
        <g>
          <path class="bar-1" d="M40 40h320v80H40z"></path>
          <path class="bar-2" d="M40 160h320v80H40z"></path>
          <path class="bar-3" d="M40 280h320v80H40z"></path>
        </g>
      </svg>
    </a>

    <div class="logo">
      <a href="/" tabindex="0" class="logo-link"><img src="/img/logo.png" alt="Smart Sea Level Sensors Logo"></a>
    </div>

    <nav class="nav" id="navbar" aria-label="Primary menu">
      <ul role="menu" id="nav-menu">
        <li>
          <a tabindex="0" class="navlink" href="/about/">About</a>
        </li>
        <li>
          <a tabindex="0" class="navlink" href="/faq/">FAQ</a>
        </li>
        <li>
          <a tabindex="0" class="navlink" href="/education/">Education</a>
        </li>
        <li>
          <a tabindex="0" class="navlink" href="/interns/">Interns</a></li>
        <li>
          <a tabindex="0" class="navlink" href="/news/">News</a>
        </li>
        <li>
          <a tabindex="0" class="navlink" href="/events/">Events</a>
        </li>
      </ul>
    </nav>

    <div class="dark-overlay" id="darkOverlay" aria-hidden="true"></div>

  </div>
</header>
