<div class="header" id="headerOpen">
  <div class="container overflow">

    <div class="hamburger" id="hamburgerButton">
      <a class="hamburger-a">
        <svg viewBox="0 0 400 400" xmlns="http://www.w3.org/2000/svg">
          <defs />
          <g>
            <path class="bar-1" d="M40 40h320v80H40z"></path>
            <path class="bar-2" d="M40 160h320v80H40z"></path>
            <path class="bar-3" d="M40 280h320v80H40z"></path>
          </g>
        </svg>
      </a>
    </div>

    <div class="logo">
      <a href="/"><img src="/img/logo.png"></a>
    </div>

    <div class="nav">
      <ul>
        <li><a href="/about/">About</a></li>
        <li><a href="/faq/">FAQ</a></li>
        <li><a href="/education/">Education</a></li>
        <li><a href="/our-interns/">Our Interns</a></li>
        <li><a href="/news/">News</a></li>
        <li><a href="/events/">Events</a></li>
      </ul>
    </div>

    <div class="dark-overlay" id="darkOverlay"></div>

  </div>
</div>
