---
layout: default
---

{% include header.html %}

<main>
  <div class="section bio">
    <div class="container">
      <div class="row justify-content-md-center">
        <div class="col-md-9">

          <nav aria-label="Breadcrumbs" class="breadcrumbs">
            <p>
              <a href="{{ page.backUrl }}" class="back-link">
                <span aria-hidden="true">&#10094; </span>
                {{ page.back }}
              </a>
            </p>
          </nav>

          <h3>{{ page.fullName }}</h3>
          <p class="bio-caption">{{ page.caption }}</p>
          <div class="row img-row">

            <div class="col-md-4 vertically-centered">
              <img class="bio-img" src="{{ page.src }}" alt="{{ page.fullName }}">
            </div>

            <div class="col-md-8 vertically-centered">
              <blockquote class="card bio-quote">
                <div class="card-body">
                  <p class="quote-text">{{ page.desc }}</p>
                </div>
              </blockquote>
            </div>

          </div>



          {{ content }}

        </div>
      </div>
    </div>
  </div>
</main>
{% include footer.html %}
