---
layout: default
---

{% include header.html %}

<div class="section bio">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-md-9">

        <div class="row">
          
          <div class="col-md-4">
            <img class="bio-img" src="{{ page.src }}" alt="{{ page.fullName }}">
          </div>
          
          <div class="col-md-8">
            <h3>{{ page.fullName }}</h3>
            <p class="bio-caption">{{ page.caption }}</p>
          </div>
          
        </div>
        
        <div class="card bio-quote" role="blockquote">
          <div class="card-body">
            <p class="quote-text">{{ page.desc }}</p>
          </div>
        </div>
        
        {{ content }}

      </div>
    </div>
  </div>
</div>

{% include footer.html %}